@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles pour Leaflet */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 12px;
}

.leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
}

.leaflet-control-zoom a {
  background-color: white !important;
  color: #333 !important;
  border: none !important;
  border-radius: 4px !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  font-size: 18px !important;
}

.leaflet-control-zoom a:hover {
  background-color: #f0f0f0 !important;
}
